In [1]:
import os
import numpy as np
import pandas as pd

In [21]:
pop_data = pd.read_csv('src_data/usa_population_revise.csv')
infection_chance_per_day=[0.2,0.3,0.2,0.1,0.1,0.1,0.1,0.1]
cbg_names = [line[:-1] for line in open('src_data/cbg_name').readlines()]

In [23]:
chunked_data = pd.read_csv('src_data/cbg2cbg.csv', chunksize=100000)
chunk_list = []
for chunk in chunked_data: 
    chunk_list.append(chunk)
transport_data = pd.concat(chunk_list)
transport_data

          poi_cbg_source poi_cbg_destination  number_of_visitors  probability
0            10010201001         10010201001                  33     0.038239
1            10010201001         10010202001                  15     0.017381
2            10010201001         10010202002                  36     0.041715
3            10010201001         10010203002                 113     0.130939
4            10010201001         10010204003                   6     0.006952
...                  ...                 ...                 ...          ...
17423096    560459513003        560279572003                   6     0.008876
17423097    560459513003        560459511002                   3     0.004438
17423098    560459513003        560459513001                  69     0.102071
17423099    560459513003        560459513002                 229     0.338757
17423100    560459513003        560459513003                  50     0.073964

[17423101 rows x 4 columns]

In [25]:
transport_data['des_prob'] = transport_data['probability']
transport_data['src_prob'] = 0

In [28]:
grouped_data = transport_data.groupby('poi_cbg_destination')
group = 10010201001
df = grouped_data.get_group(group)

,poi_cbg_source,poi_cbg_destination,number_of_visitors,probability,des_prob,src_prob
0,10010201001,10010201001,33,0.038239,0.038239,0
38,10010201002,10010201001,46,0.025756,0.025756,0
90,10010202001,10010201001,34,0.035015,0.035015,0
133,10010202002,10010201001,5,0.003712,0.003712,0
183,10010203001,10010201001,21,0.004677,0.004677,0
328,10010204001,10010201001,3,0.001739,0.001739,0
377,10010204002,10010201001,21,0.007358,0.007358,0
467,10010204003,10010201001,6,0.004847,0.004847,0
534,10010205001,10010201001,35,0.008974,0.008974,0
641,10010205002,10010201001,46,0.002903,0.002903,0
895,10010205003,10010201001,6,0.001127,0.001127,0
1002,10010206001,10010201001,64,0.015515,0.015515,0
1132,10010206002,10010201001,21,0.017842,0.017842,0
1175,10010207001,10010201001,28,0.011138,0.011138,0
1261,10010207002,10010201001,3,0.001297,0.001297,0
1318,10010208011,10010201001,6,0.002907,0.002907,0
1385,10010208012,10010201001,60,0.010919,0.010919,0
1507,10010208021,10010201001,54,0.010885,0.010885,0
1625,10010208022,10010201001,54,0.006889,0.006889,0
1815,10010208023,10010201001,3,0.001330,0.001330,0
1894,10010208024,10010201001,6,0.001163,0.001163,0
2037,10010209001,10010201001,9,0.006823,0.006823,0
2169,10010209003,10010201001,3,0.001559,0.001559,0
2236,10010209004,10010201001,3,0.000777,0.000777,0
2389,10010210002,10010201001,12,0.005717,0.005717,0
2478,10010211001,10010201001,24,0.014907,0.014907,0
32189,10210601014,10010201001,3,0.000576,0.000576,0
52643,10479561005,10010201001,3,0.004172,0.004172,0
60436,10510310001,10010201001,3,0.000375,0.000375,0
61099,10510313001,10010201001,24,0.003189,0.003189,0
200173,11010001001,10010201001,3,0.000468,0.000468,0
201167,11010007002,10010201001,3,0.006623,0.006623,0
207283,11010053021,10010201001,3,0.001057,0.001057,0
212977,11010059015,10010201001,3,0.001258,0.001258,0
256952,11250112001,10010201001,5,0.000077,0.000077,0