In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
pop_data = pd.read_csv('src_data/usa_population_revise.csv')
infection_chance_per_day=[0.2,0.3,0.2,0.1,0.1,0.1,0.1,0.1]
cbg_names = [line[:-1] for line in open('src_data/cbg_name').readlines()]

In [16]:
chunked_data = pd.read_csv('src_data/cbg2cbg.csv', chunksize=100000)
chunk_list = []
for chunk in chunked_data: 
    chunk_list.append(chunk)
transport_data = pd.concat(chunk_list)
transport_data

          poi_cbg_source poi_cbg_destination  number_of_visitors  probability
0            10010201001         10010201001                  33     0.038239
1            10010201001         10010202001                  15     0.017381
2            10010201001         10010202002                  36     0.041715
3            10010201001         10010203002                 113     0.130939
4            10010201001         10010204003                   6     0.006952
...                  ...                 ...                 ...          ...
17423096    560459513003        560279572003                   6     0.008876
17423097    560459513003        560459511002                   3     0.004438
17423098    560459513003        560459513001                  69     0.102071
17423099    560459513003        560459513002                 229     0.338757
17423100    560459513003        560459513003                  50     0.073964

[17423101 rows x 4 columns]

In [17]:
transport_data['des_prob'] = transport_data['probability']
transport_data['src_prob'] = 0
grouped_data = transport_data.groupby('poi_cbg_destination')

In [21]:
transport_data['src_prob'] = transport_data.groupby('poi_cbg_destination')['number_of_visitors'].transform(sum)

In [23]:
transport_data['src_prob'] = transport_data['number_of_visitors']/transport_data['src_prob']
transport_data

,poi_cbg_source,poi_cbg_destination,number_of_visitors,probability,des_prob,src_prob
0,10010201001,10010201001,33,0.038239,0.038239,0.050305
1,10010201001,10010202001,15,0.017381,0.017381,0.039683
2,10010201001,10010202002,36,0.041715,0.041715,0.018538
3,10010201001,10010203002,113,0.130939,0.130939,0.015597
4,10010201001,10010204003,6,0.006952,0.006952,0.006445
...,...,...,...,...,...,...
17423096,560459513003,560279572003,6,0.008876,0.008876,0.009756
17423097,560459513003,560459511002,3,0.004438,0.004438,0.333333
17423098,560459513003,560459513001,69,0.102071,0.102071,0.274900
17423099,560459513003,560459513002,229,0.338757,0.338757,0.202834
17423100,560459513003,560459513003,50,0.073964,0.073964,0.199203

In [24]:
grouped_data = transport_data.groupby('poi_cbg_destination')

In [28]:
df = grouped_data.get_group(10010208023)
df['src_prob'].sum()

1.0000000000000004

In [27]:
df['src_prob'].sum()

0.26181210494260465

In [29]:
transport_data = transport_data[['poi_cbg_source','poi_cbg_destination','src_prob','des_prob']]

In [30]:
transport_data.to_csv('src_data/cbg2cbg_revise.csv', index=False)