In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.normal(200,16,size = 100)

array([239.08778633, 212.95585006, 204.14768474, 197.53154125,
       213.92809165, 204.18946163, 178.02318389, 186.37217412,
       189.86988357, 185.75346473, 185.90243389, 185.10674151,
       191.21986733, 220.33163417, 172.858657  , 216.27689339,
       206.28756349, 214.71559138, 198.21946561, 188.54664067,
       188.83111409, 180.81419218, 214.28801138, 225.7530223 ,
       196.11602092, 201.2319373 , 195.00952508, 204.94171491,
       183.32848431, 194.23688155, 227.58643261, 195.48366435,
       188.17495147, 231.45783213, 213.73236238, 193.69708403,
       211.00977429, 204.77195917, 203.34647483, 234.85307938,
       205.26593344, 209.657138  , 190.39631254, 188.46384336,
       181.24470383, 219.33671139, 183.38203063, 176.76819258,
       223.18006347, 220.42518074, 157.72571289, 192.08684911,
       185.96961888, 196.17456462, 213.1985788 , 185.98535372,
       191.27610852, 200.89673398, 222.11539929, 225.61447091,
       222.86072817, 218.63703624, 174.49045599, 212.6965728 ,
       198.67923684, 205.72271254, 190.38466823, 232.89967985,
       187.27316461, 203.52361718, 227.87800084, 213.87321315,
       219.63305816, 211.40903761, 214.51059493, 179.4362653 ,
       215.3692699 , 207.27253272, 192.46420044, 182.16388322,
       212.84802212, 240.00238222, 217.73562951, 179.643645  ,
       174.43529229, 195.64705354, 198.56360769, 188.65625664,
       198.96803756, 186.62677297, 184.60936667, 202.50495581,
       205.72285943, 215.03704012, 178.04189795, 218.20170806,
       191.18008393, 228.97797895, 195.74726199, 195.50859689])

In [3]:
spread_prob_df = pd.concat([pd.read_csv('../spread_probability_top30/%d.csv'%i) for i in range(1,5)],ignore_index=True)
spread_prob_df['from'] = spread_prob_df['from'].apply(lambda x: '%012d'%x)
spread_prob_df['to'] = spread_prob_df['to'].apply(lambda x: '%012d'%x)
spread_prob_df = spread_prob_df[['from', 'to', 'prob']].reset_index(drop = True)

In [4]:
import random

In [5]:
random.seed(42)

In [6]:
starts = list(spread_prob_df['from'].unique())
random.shuffle(starts)
starts = starts[:5]

In [8]:
num_init_cases = 100
infectious_rate = [0.1,0.2,0.3,0.3,0.2,0.1,0.1]
active_case = []
for _ in range(len(infectious_rate)): active_case.append({})
for s in starts:
    active_case[0][s] = num_init_cases
active_case

[{'250092524002': 100,
  '361190111013': 100,
  '270530257013': 100,
  '360650228002': 100,
  '261635154001': 100},
 {},
 {},
 {},
 {},
 {},
 {}]

In [10]:
spread_prob_grouped_df = spread_prob_df.groupby('from')

In [12]:
# test
cbg = '250092524002'
des_df = spread_prob_grouped_df.get_group(cbg)
des_df

                 from            to      prob
2742779  250092524002  330151003012  0.081612
2742780  250092524002  250092501001  0.077972
2742781  250092524002  250092524002  0.052289
2742782  250092524002  330151061022  0.051950
2742783  250092524002  330151004004  0.045116
2742784  250092524002  330151003011  0.042259
2742785  250092524002  330151061021  0.034867
2742786  250092524002  330151001001  0.033044
2742787  250092524002  250092503001  0.032682
2742788  250092524002  330151061011  0.031836
2742789  250092524002  330151061023  0.031410
2742790  250092524002  330151002001  0.029396
2742791  250092524002  330151003021  0.029164
2742792  250092524002  250092526011  0.029023
2742793  250092524002  250092517002  0.028761
2742794  250092524002  250092525023  0.028051
2742795  250092524002  330151004003  0.027715
2742796  250092524002  250092507001  0.027475
2742797  250092524002  250092502001  0.027263
2742798  250092524002  330151003013  0.026627
2742799  250092524002  330151004001  0.026613
2742800  250092524002  330151031003  0.026436
2742801  250092524002  330151061013  0.026001
2742802  250092524002  250092522021  0.025241
2742803  250092524002  330151002003  0.021874
2742804  250092524002  250092516002  0.021695
2742805  250092524002  250092525011  0.021392
2742806  250092524002  250092508001  0.021099
2742807  250092524002  250092524001  0.020860
2742808  250092524002  250092522012  0.020277

In [14]:
num_case_spread =
for i in des_df.index:
    des = des_df.loc[i, 'to']
    prob = des_df.loc[i, 'prob']
    if prob > 0.5:
        mean =

330151003012 0.0816122317113161
250092501001 0.0779724997139715
250092524002 0.0522889940464509
330151061022 0.0519497344236739
330151004004 0.045115500209791
330151003011 0.0422588975010838
330151061021 0.0348672575988629
330151001001 0.0330441077400727
250092503001 0.0326822218196513
330151061011 0.0318364378743644
330151061023 0.0314098580462051
330151002001 0.0293958980875881
330151003021 0.0291637275203458
250092526011 0.0290229236962515
250092517002 0.0287610974595305
250092525023 0.0280511375883436
330151004003 0.0277145108995582
250092507001 0.0274754131062454
250092502001 0.02726292078544
330151003013 0.0266266106459177
330151004001 0.0266131173071896
330151031003 0.0264356660326761
330151061013 0.026000776391783
250092522021 0.0252410486263571
330151002003 0.021874342418253
250092516002 0.0216946786817169
250092525011 0.0213923337822024
250092508001 0.0210988879695345
250092524001 0.0208601660932962
250092522012 0.0202770022223255