In [1]:
import os
import numpy as np
import pandas as pd

In [3]:
pop_data = pd.read_csv('src_data/usa_population_revise.csv')
infection_chance_per_day=[0.2,0.3,0.2,0.1,0.1,0.1,0.1,0.1]
cbg_names = [line[:-1] for line in open('src_data/cbg_name').readlines()]

In [4]:
chunked_data = pd.read_csv('src_data/cbg2cbg.csv', chunksize=100000)
chunk_list = []
for chunk in chunked_data: 
    chunk_list.append(chunk)
transport_data = pd.concat(chunk_list)
transport_data

          poi_cbg_source poi_cbg_destination  number_of_visitors  probability
0            10010201001         10010201001                  33     0.038239
1            10010201001         10010202001                  15     0.017381
2            10010201001         10010202002                  36     0.041715
3            10010201001         10010203002                 113     0.130939
4            10010201001         10010204003                   6     0.006952
...                  ...                 ...                 ...          ...
17423096    560459513003        560279572003                   6     0.008876
17423097    560459513003        560459511002                   3     0.004438
17423098    560459513003        560459513001                  69     0.102071
17423099    560459513003        560459513002                 229     0.338757
17423100    560459513003        560459513003                  50     0.073964

[17423101 rows x 4 columns]

In [5]:
transport_data['visitor_per_src'] = transport_data.groupby('poi_cbg_destination')['number_of_visitors'].transform('sum')

In [6]:
transport_data['src_prob'] = transport_data['number_of_visitors']/transport_data['visitor_per_src']

In [7]:
transport_data['des_prob'] = transport_data['probability']

In [8]:
transport_data = transport_data[['poi_cbg_source','poi_cbg_destination','src_prob','des_prob']]

In [9]:
grouped_data = transport_data.groupby('poi_cbg_destination')
grouped_data.get_group(490351130131)

          poi_cbg_source poi_cbg_destination  src_prob  des_prob
290184       40050007002        490351130131  0.000522  0.000543
1887957      60599800001        490351130131  0.000522  0.000018
2401477      60750123011        490351130131  0.000522  0.000053
3068773      80919676004        490351130131  0.000522  0.002400
4811748     130510003001        490351130131  0.000522  0.000121
...                  ...                 ...       ...       ...
16296449    490490101092        490351130131  0.001045  0.000766
16296929    490490101112        490351130131  0.000522  0.000759
16297540    490490101132        490351130131  0.008880  0.009317
16298124    490490102101        490351130131  0.001567  0.004754
16304543    490519604001        490351130131  0.000522  0.000624

[142 rows x 4 columns]

In [10]:
grouped_data.get_group(490351152091).sum()

poi_cbg_source         54892333468839
poi_cbg_destination    56880733642556
src_prob                          1.0
des_prob                     0.840365
dtype: object

In [ ]:
transport_data.to_csv('src_data/cbg2cbg_revise.csv', index=False)

In [2]:
chunked_data = pd.read_csv('src_data/cbg2cbg_revise.csv', chunksize=100000)
chunk_list = []
for chunk in chunked_data:
    chunk_list.append(chunk)
transport_data_r = pd.concat(chunk_list)
transport_data_r

          poi_cbg_source poi_cbg_destination  src_prob  des_prob
0            10010201001         10010201001  0.050305  0.038239
1            10010201001         10010202001  0.039683  0.017381
2            10010201001         10010202002  0.018538  0.041715
3            10010201001         10010203002  0.015597  0.130939
4            10010201001         10010204003  0.006445  0.006952
...                  ...                 ...       ...       ...
17423096    560459513003        560279572003  0.009756  0.008876
17423097    560459513003        560459511002  0.333333  0.004438
17423098    560459513003        560459513001  0.274900  0.102071
17423099    560459513003        560459513002  0.202834  0.338757
17423100    560459513003        560459513003  0.199203  0.073964

[17423101 rows x 4 columns]

In [3]:
group_by_des = transport_data_r.groupby('poi_cbg_destination')

In [4]:
group_by_des.get_group(11010060001).sum()

poi_cbg_source         633275749573
poi_cbg_destination    660603600060
src_prob                        1.0
des_prob                   0.260424
dtype: object