In [1]:
import geopandas as gpd
import os

In [2]:
county_shp = 'src_data/us_county/us_county.shp'
shp_df = gpd.read_file(county_shp)

In [3]:
shp_df

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry
0,0500000US01029,01,029,Cleburne,County,560.100,"POLYGON ((-85.38872 33.91304, -85.38088 33.873..."
1,0500000US01031,01,031,Coffee,County,678.972,"POLYGON ((-86.03044 31.61894, -86.00408 31.619..."
2,0500000US01037,01,037,Coosa,County,650.926,"POLYGON ((-86.00928 33.10164, -86.00917 33.090..."
3,0500000US01039,01,039,Covington,County,1030.456,"POLYGON ((-86.34851 30.99434, -86.35023 30.994..."
4,0500000US01041,01,041,Crenshaw,County,608.840,"POLYGON ((-86.14699 31.68046, -86.14711 31.663..."
...,...,...,...,...,...,...,...
3216,0500000US72131,72,131,San Sebastián,Muno,70.423,"POLYGON ((-66.90748 18.25314, -66.90739 18.253..."
3217,0500000US72133,72,133,Santa Isabel,Muno,34.023,"POLYGON ((-66.37968 17.94398, -66.38029 17.943..."
3218,0500000US72137,72,137,Toa Baja,Muno,23.241,"MULTIPOLYGON (((-66.13957 18.46232, -66.13956 ..."
3219,0500000US72139,72,139,Trujillo Alto,Muno,20.764,"POLYGON ((-66.02917 18.3759, -66.02828 18.3768..."
3220,0500000US72153,72,153,Yauco,Muno,68.192,"POLYGON ((-66.85229 17.955, -66.8528 17.95519,..."

In [4]:
shp_df['GEO_ID'] = shp_df['GEO_ID'].apply(lambda x: x[9:])
shp_df

,GEO_ID,STATE,COUNTY,NAME,LSAD,CENSUSAREA,geometry
0,01029,01,029,Cleburne,County,560.100,"POLYGON ((-85.38872 33.91304, -85.38088 33.873..."
1,01031,01,031,Coffee,County,678.972,"POLYGON ((-86.03044 31.61894, -86.00408 31.619..."
2,01037,01,037,Coosa,County,650.926,"POLYGON ((-86.00928 33.10164, -86.00917 33.090..."
3,01039,01,039,Covington,County,1030.456,"POLYGON ((-86.34851 30.99434, -86.35023 30.994..."
4,01041,01,041,Crenshaw,County,608.840,"POLYGON ((-86.14699 31.68046, -86.14711 31.663..."
...,...,...,...,...,...,...,...
3216,72131,72,131,San Sebastián,Muno,70.423,"POLYGON ((-66.90748 18.25314, -66.90739 18.253..."
3217,72133,72,133,Santa Isabel,Muno,34.023,"POLYGON ((-66.37968 17.94398, -66.38029 17.943..."
3218,72137,72,137,Toa Baja,Muno,23.241,"MULTIPOLYGON (((-66.13957 18.46232, -66.13956 ..."
3219,72139,72,139,Trujillo Alto,Muno,20.764,"POLYGON ((-66.02917 18.3759, -66.02828 18.3768..."
3220,72153,72,153,Yauco,Muno,68.192,"POLYGON ((-66.85229 17.955, -66.8528 17.95519,..."

In [5]:
shp_df.to_file('src_data/us_county/us_county.shp')